@{
    ViewData["Title"] = "Chef";
}

<div class="text-left">
    <h1 class="display-6">Francesco Tomatini</h1><p>
    <p>
        <div class="text-left">
            <p align= "justify">
                Nascido a 05 de Setembro de 1981 em Turim, Frascesco Tomatini, descobriu o entusiasmo pela culinária
                aos 16 anos num workshop que frequentou, apenas para surpreender a sua namorada, Laura Santini Tomasini,
                hoje sua esposa, desde 2008.
                Logo após terminar o secundário, mudou-se para Milão para estudar na Food Genius Academy, onde finalizou
                os estudos com muito sucesso, terminando no top 5 dos melhores cozinheiros finalistas desse ano.
                A partir daí várias propostas surgiram e Frascesco Tomatini trabalhou durante 7 anos como chef de primeira
                em vários restaurantes italianos em todo o mundo!
                Destaca-se Giordano Gourmet em Londres, Bistrô Fiorentina em Nova York, Nonna Cucina em Tóquio, e
                Casa Amatriciana em Barcelona.
                Sempre acompanhado por Laura, em 2008 voltaram a Turim para casar-se e decidiram viajar durante dois anos.
                Em 2010 decidira instalar-se em Sagres, Portugal e abrir os dois o próprio negócio, juntamente com
                Matilde Gomes, sócia-gerente do restaurante.
                Desde aí Os 3 Estarolas têm crescido gradualmente ano após ano, mantendo o foco de negócio em oferecer um serviço
                de excelência com produtos frescos e de grande qualidade sendo a prioridade manter os clientes habituais,
                para um crescimento seguro ainda que não tão rápido.

        </div>
</div>

