@{
    ViewData["Title"] = "Os 3 Estarolas";
}

<div class="text-left">
    <h1 class="display-4">Os 3 Estarolas</h1>

    <div class="text-left">
        <h2 class="display-6">Cozinha Italiana</h2>
        <p>
        <p></p>
        <div class="text-md-center">
            <img src="~/tres_estarolas.png" width="200" />
        </div>
            <div class="text-center">
                @*<p align="justify">*@
                    Sabia que Tiramisu em italiano significa "anima-te"?
                    Referência aos dois ingredientes com cafeína: café e cacau.
                    <br><br>
                    Calcula-se que esta deliciosa sobremesa foi inventada na década de 1960,
                    na região de Veneto, Itália.
                    <br><br>
                    Os 3 Estarolas é um restaurante de comida italiana, onde pode usufruir
                    de uma variedade dos melhores pratos<br>tradicionais deste riquissimo país,
                    que levou a sua gastronomia a todos os cantos do mundo!
                    <br><br>
                    Embarque connosco nesta explosão de sabores!
                </p>
            </div>
        </div>
    </div>
  