@{
    ViewData["Title"] = "Menus";
}

<div class="text-center">
    <h1 class="display-6">Menus</h1><p>
    <p>
        <div class="text-left">
            <p>
                Almoço c/ bebida, sobremesa e café - 12€
            <p>
                Almoço s/ bebida - 8€
            <p>
                Jantar c/ bebida, sobrema e café - 15€
            <p>
                Jantar s/ bebida - 9€
            <p>
                Menu de grupo (+ de 8 pessoas) c/ bebida
                à descrição 22€/ pessoa

        </div>
</div>




