@{
    ViewData["Title"] = "Backoffice";
}
<div class="text-center">
    <h1 class="display-6">Sala de controlo</h1>
    <br><br>
    <p><img src="~/Reservas.png" width="40" /><a href="https://localhost:44349/Reservas">Reservas</a></p>
    <br><br>
    <p><img src="~/Registos.png" width="40" /><a href="https://localhost:44349/Registo">Registos</a></p>
</div>
    <br>
    <br>
    <br>
    <br>
    <div class="text-center">
        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Saida.png" width="40" />Sair</a>
    </div>
