@model Restaurante.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Entrar no sistema</h1>


<hr />
<div class="text-left">
    <div class="col-md-4">
        <form asp-action="Controlo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LembrarMe" class="control-label"></label>
                <input asp-for="LembrarMe" class="form-control" />
                <span asp-validation-for="LembrarMe" class="text-danger"></span>
            </div>
            <div class="conteiner">
                <input type="submit" value="Entrar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="text-justify">
    <a asp-area="" asp-controller="Home" asp-action="Index">Sair</a>
</div>
       
               

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




