@{
    ViewData["Title"] = "Backoffice";
}
<h1 class="display-6">Controle de reservas e registo dos clientes</h1>
<p>

</p>
<div class="text-left">
    <p><a href="https://localhost:44349/Reservas">Reservas</a></p>
</div>
<div class="text-left">
    <p><a href="https://localhost:44349/Registo">Registos</a></p>
</div>

