

<div>
    <label for="username">Nome de ultilizador:</label>
    <input type="text"
           id="username" name="username" />
</div>

<div>
    <label for="pass">Senha (Minimo 8 caracteres):</label>
    <input type="password"
           id="pass" name="password" minlenght="8"
           required />
</div>

<input type="submit" value="Entrar" />












